<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Registry</h2>
                    <h3 class="section-subheading text-muted">We have registered at the following retail stores</h3>
                </div>
            </div>
            <div class="row">
            {% for place in site.registry %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="{{ place.url }}" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/{{ place.imageUrl }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ place.name }}</h4>
                        <p class="text-muted">{{ place.name }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
