<!-- Services Section -->
    <section id="venue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Venue</h2>
                    <h3 class="section-subheading text-muted">Mountain Springs Lodge in Plain, Washington</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                  <span class="fa-stack fa-5x">
                      <img class="img-rounded img-responsive" src="img/venue/colchuck.jpg" alt="">
                  </span>
                    <h4 class="service-heading">Holiday Weekend</h4>
                    <p class="text-muted">The wedding is July 6th, but the fun will start a few days earlier on July 4th.
                      Hiking, ziplining, and whitewater rafting are just a few of the fun things to do in the area and we hope you'll join us for the whole weekend.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-5x">
                        <img class="img-rounded img-responsive" src="img/venue/barn.jpg" alt="">
                    </span>
                    <h4 class="service-heading">Lodging</h4>
                    <p class="text-muted">We've rented out several of the cabins at Mountain Springs to give the wedding an all inclusive feel.
                    There are also numerous AirBnB and hotel options in the surrounding area of Leavenworth and Plain Washington.</p>
                </div>
            </div>
            <div class="row text-center">
              <iframe width="600" height="450" frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?q=Mountain%20Springs%20Lodge&key=AIzaSyBvhO8v5BhRc2A--LnfC_8e7L3UTzOziSk" allowfullscreen></iframe>
            </div>
        </div>
    </section>
