<!-- Services Section -->
    <section id="venue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Venue</h2>
                    <h3 class="section-subheading text-muted">Mountain Springs Lodge in Plain, Washington</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                  <span class="fa-stack fa-5x">
                      <img class="img-rounded img-responsive" src="img/venue/barn.jpg" alt="">
                  </span>
                  <span class="fa-stack fa-5x">
                      <img class="img-rounded img-responsive" src="img/venue/colchuck.jpg" alt="">
                  </span>
                    <h4 class="service-heading">Holiday Weekend</h4>
                    <p class="text-muted">The wedding is July 6th, but the fun will start a few days earlier on July 4th.
                      Hiking, ziplining, and whitewater rafting are just a few of the fun things to do in the area and we hope you'll join us for the whole weekend.</p>
                </div>
            </div>
            <div class="row text-center">
              <iframe width="100%" height="450" frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?q=Mountain%20Springs%20Lodge&key=AIzaSyBvhO8v5BhRc2A--LnfC_8e7L3UTzOziSk" allowfullscreen></iframe>
            </div>
            <div clas="row text-center">
              <div class="col-lg-12 text-center">
                  <h2 class="service-heading">Where to stay?</h2>
                  <p class="text-muted">We've reserved several of the cabins at Mountain Springs for immediate family and the wedding party to give the wedding an all inclusive feel.
                  Everyone is invited to enjoy the amenities while we're there.</p>

                    <span class="service-heading"><a href="https://www.beavervalleylodge.com/">Beaver Valley Lodge</a></span>
                    <p><span class="text-muted">Mention Brown-McDevitt wedding. There is a block of twelve rooms specifically reserved for the wedding weekend. 2 night minimum stay. Only 0.7 miles away from the venue!</span></p>

                    <span class="service-heading"><a href="https://www.tamarackvacationrentals.com/">Tamarack Vacation Rentals</a></span>
                    <p><span class="text-muted">Several cabins for rent in the area. The manager also works at Mountain Springs and gave us the tour of the venu. She's very nice!</span></p>

                    <span class="service-heading"><a href="https://www.airbnb.com/s/Plain--WA--United-States/homes?query=Plain%2C%20WA%2C%20United%20States&place_id=ChIJ344WPm6qm1QRMPy2vczQh3Y&checkin=2019-07-04&checkout=2019-07-07&refinement_paths%5B%5D=%2Fhomes&allow_override%5B%5D=&s_tag=b5n2iBUX/">AirBnB</a> / <a href="https://www.vrbo.com/results?adultsCount=2&childrenCount=0&petIncluded=false&adults=2&children=0&infantsCount=0&pets=false&q=Plain%2C%20WA%2C%20USA&from-date=2019-07-04&to-date=2019-07-07">VRBO</a></span>
                    <p><span class="text-muted">Look for a place to stay in Plain Washington, which is closer to the venue. Nearby Leavenworth also has lots of options.</span></p>

                    <span class="service-heading"><a href="https://www.natapoc.com">Natapoc Lodging</a></span>
                    <p><span class="text-muted">Another nearby resort with cabins to rent.</span></p>
              </div>
            </div>

            <div clas="row text-center">
              <div class="col-lg-12 text-center">
                  <h2 class="service-heading">Travel</h2>
                  <p class="text-muted">Mountain Springs Lodge is about a two hour drive from Seattle. If you're coming in from out of the state, we recommend flying in to Sea-Tac airport and renting a car.
                  There is an airport in Wenatchee, WA that is about an hour closer, but flights into Wenatchee often get canceled and they almost all fly through Seattle anyway.</p>
              </div>
            </div>
        </div>
    </section>
